@font-face {
  font-family: "iconfont"; /* Project id 5075450 */
  src: url('iconfont.woff2?t=1764310191362') format('woff2'),
       url('iconfont.woff?t=1764310191362') format('woff'),
       url('iconfont.ttf?t=1764310191362') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengyin:before {
  content: "\e64c";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-bofang1:before {
  content: "\e87c";
}

.icon-xunhuan:before {
  content: "\e60a";
}

.icon-bofangheji:before {
  content: "\e60c";
}

.icon-jingyin:before {
  content: "\1021b";
}

.icon-_danqubofangyici:before {
  content: "\e6ea";
}

.icon-icon_shangyishou:before {
  content: "\e64d";
}

.icon-icon_xiayishou:before {
  content: "\e64f";
}

